{% extends "Layout.html" %}
{% block content %}
<div class="content-section">
    <table border="0" cellpadding="50">
        <tr>
            <td>
                <center>
                    <b style="font-size: 70px; font-family: sans-serif;">403 You don't have permission to do that</b>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <b style="font-size: 50px; font-family: sans-serif;">Please check your account and try again</b>
                </center>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}