{% extends "Layout.html" %}
{% block content %}
<div class="content-section">
    <table border="0" cellpadding="50">
        <tr>
            <td>
                <center>
                    <b style="font-size: 70px; font-family: sans-serif;">500 Something went wrong</b>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <b style="font-size: 50px; font-family: sans-serif;">We're experiencing some trouble on our end. Please try again in the near future</b>
                </center>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}