{% extends "Layout.html" %}
{% block content %}
<div style="background-color: #66bf39;" class="content-section">
    <table width="1100" border="0" cellpadding="6">
        <tr>
            <td>
                <center>
                    <table border="0" cellpadding="15">
                        <tr>
                            <td>
                                <center>
                                    <b style="font-size: 40px; font-family: sans-serif; color: white">Correct</b>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <img src="\static\correct.png">
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="white">
                                <center>
                                    <b style="font-size: 20px; font-family: sans-serif;">+100</b>
                                </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}