{% extends "Layout.html" %}
{% block content %}
<div class="content-section">
    <form id="enter_game" action="" method="POST">
    {{ form.hidden_tag() }}
        <table border="0" cellpadding="10">
            <tr>
                <td>
                    <img src="\static\Trivion_Banner.png" height="230px">
                </td>
            </tr>
            <tr>
                <td>
                    {% if form.game_pin.errors %}
                        {{ form.game_pin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.game_pin.errors %}
                                <span style="font-size: 17px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.game_pin(class="form-control form-control-lg", placeholder="Game PIN", maxlength="6", id="PIN") }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if form.nickname.errors %}
                        {{ form.nickname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nickname.errors %}
                                <span style="font-size: 17px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.nickname(class="form-control form-control-lg", placeholder="Nickname") }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <input type="submit" style="font-family: sans-serif; font-size: 50px; font-weight: bold;" value="Join Game" class="button">
                    </center>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock content %}